.wrapper {
   max-width: 88rem;
   padding: 32px 24px 36px;
}

.wrapper_user_infor {
   display: flex;
}

.avata {
   width: 116px;
   height: 116px;
   border-radius: 50%;
}

.user_infor {
   line-height: 4.2rem;
}

.nick_name {
   font-size: 32px;
}

.full_name {
   font-size: 18px;
}

.message_and_unfollow {
   display: flex;
}

.icon_unfollow {
}
